body {
    font-family: "", sans-serif;
    background: #111827;
    margin: 0;
    padding: 0;
    border: 0;
}

.home {
    margin: 0;
    padding: 0;
    border: 0;
}

.nav-link {
    color: white;
}

.text-center {
    color: white;
}

.btn-primary {
    display: flexbox;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #111827;
    border-color: #111827;
}

/* formulario e visualizar  */

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(17, 17, 17, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 35%;
}

fieldset {
    border: 3px solid rgb(0, 45, 66);
    background: rgba(17, 17, 17, 0.6);
}
legend {
    border: 1px solid rgb(0, 45, 66);
    padding: 10px;
    text-align: center;
    background-color: rgb(0, 45, 66);
    border-radius: 8px;
}
.inputBox {
    position: relative;
}
.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: 0.5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
    color: rgb(0, 45, 66);
}
#data_nascimento {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#submit {
    background-image: linear-gradient(
        to right,
        rgb(0, 92, 197),
        rgb(23, 20, 220)
    );
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover {
    background-image: linear-gradient(
        to right,
        rgb(8, 86, 175),
        rgb(10, 7, 216)
    );
}
